@media screen and (min-width: 768px) {
  #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
  }

  #cards section {
    text-align: center;
  }

  #cards h2,
  #cards p {
    text-align: center;
  }



  #cards img {
    margin-top: 0.5rem;
    text-align: center;
  }
}