body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; 
}

header {
    display: flex;
    align-items: center;
    background-color: #5E14CCB4;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px 20px;
}

h1 {
    flex: 1;
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background-color: white;
    display: block;
    animation: fade 15s;
    transition: opacity 15s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    color: #555;
    margin-top: 8px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #5E14CCB4;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}