:root {
	--bord: 1px solid #777;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	margin: .75rem;
	text-align: center;
}

main {
	margin: 0;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 0.5rem;
	background-color: #eee;
	align-items: center;
	text-align: center;
}

p {
	align-items: center;
	text-align: center;
}

.datatable {
	width: 200px;
	margin: 2rem auto 0 auto;
}

.row {
	display: grid;
	grid-template-columns: 100px 100px;
	align-items: center;
	text-align: center;
}

.col {
    border-top: var(--bord);
	border-left: var(--bord);
	padding: 10px;
}

.col:nth-child(even) {
	border-right: var(--bord);
}

.row:last-child {
	border-bottom: var(--bord);
	background-color: #bbb;
}

a:active,
a:link,
a:visited {
	color: navy;
}

a:hover {
	color: purple;
}
