* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: er;
    background-color: #63EE63E5;
    color:  #525252;
    font-weight: 700;
    font-size: 3rem;
    padding: 10px 20px;
}

header img {
    border-radius: 50%;
    margin-right: 10px;
}

#mode {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 24px;
    cursor: pointer;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}

#menu {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    border: 0;
    background: none;
    color: white;
    position: absolute;
}

#menu::before {
    content: "☰";
}

nav {
    max-width: 100%;
    margin: 0 auto;
    background-color: navy;
    padding: 10px 0;
}

.navigation {
    list-style: none;
    padding: 15px 20px;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    background-color: none;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
    font-size: clamp(1.2rem, 2vmin, 1.2rem);
    margin-left: 4rem;
}

.navigation a.active {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
}

.navigation a:hover {
    color: #3BFF38;
    background-color: gray;
    font-weight: 700;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "❎ ";
}

main {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px greenyellow;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-column: 1 / 3;
}

h1,
h2 {
    color: #222;
}

h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

h2 {
    font-size: 1.2rem;
    color: royalblue;
    text-align: left;
    margin: 1rem;
}

main img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid #77777773;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.69);
}

.card,
.card1 {
    background-color: #fff;
    padding: 40px;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px royalblue;
    grid-column: 1;
}

.card1 {
    line-height: 1.8;
}

footer {
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
    background-color: #63EE63E5;
    color: #525252;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

footer {
    background-color: #63EE63E5;
    color: #525252;
    font-weight: 700;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer nav a {
    display: block;
    text-align: left;
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
    font-size: clamp(1.1rem, 2vmin, 1.1rem);
    margin-left: 2rem;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav a.active {
    color: none;
    font-weight: 700;
    text-decoration: none;
}

footer nav a:hover {
    color: white;
    background-color: darkorange;
    font-weight: 700;
    cursor: pointer;
}

footer nav img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}