@media screen and (min-width: 38rem) {
    
/*----------- header nav --------------*/   
    .navigation {
        display: flex;
    }

    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}

    .navigation.show {
        flex-direction: row; /* Keep stacked layout */
    }

    #menu {
        display: none; /* hide hamburger button */
    }

/*----------- main --------------*/

    main {
        display: grid;
        grid-template-columns: 1fr 1fr fr;
        grid-template-rows: auto auto auto;
        margin-left: 2%;
        gap: 1rem;
    } 

/*----------- Overview/ Why join --------------*/
    .overview {
        width: 100%;
    }

    .oview,
    .wbjoin {
        grid-column: 1 / span 3; /* span all 3 columns */
        display: block; /* ensure they stay block elements */
    }

/*----------- benefits-gallery --------------*/
    .benefits-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / span 2;
        grid-row: 2;
        gap: 2rem;
        width: 100%;
        height: auto;
    }

    .benefits-gallery figure {
        width: 450px;
        height: auto;
        margin: 0;
        padding: 1rem;
        background: #fff;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .benefits-gallery h2 {
        grid-column: 1/ span 2;
    }

    .benefits-gallery figure img {
        width: 400px;
        height: auto;
        border-bottom: 2px solid #ddd;
        margin-bottom: 0.5rem;
        gap: 0.5rem;

    }

    .benefits-gallery figcaption {
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .benefits-gallery figure:hover {
        border: 1px solid #2330be;
        transform: scale(1.05);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }

/*----------- Benefits Fees table --------------*/
.table {
    grid-column: 1/ span 2;
    grid-row: 3;
}

/*----------- Membership tiers --------------*/
.tier {
    grid-column: 3;
    grid-row: 2;
    align-self: start;
}

/*----------- Form --------------*/
    .eccf {
        grid-column: 3;  /* 3 columns on large screens */
        grid-row: 3;
    }

/*----------- footer --------------*/
        
}

