@media screen and (min-width: 38rem) {
      
    .navigation {
        display: flex;
    }

    .navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}

    .navigation.show {
        flex-direction: row;
    }

    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: auto auto;
        margin-left: 1%;
        margin-right: 2%;
    } 

    .overview {
        width: 100%;
    }

    .oview,
    .wbjoin {
        grid-column: 1 / span 3;
        display: block;
    }

    .benefits-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: 2;
        gap: 0.5rem;
        width: 100%;
        height: auto;
    }

    .gallery h2 {
        grid-column: 1 / span 2;
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
    }

    .benefits-gallery figure {
        width: 100%;
        height: auto;
        padding: 1rem;
        background: #fff;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .benefits-gallery figure img {
        max-width: 450px;
        max-height: 150px;
        border-bottom: 2px solid #ddd;
        margin-bottom: 0.5rem;
        object-fit: cover;
    }

    .benefits-gallery figcaption {
        font-size: 1.1rem;
    }

    .benefits-gallery figure:hover {
        border: 1px solid #2330be;
        transform: scale(1.05);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }

    .tier {
        grid-column: 3;
        grid-row: 1;
    }

    .tier h2 {
        grid-column: 3;
        grid-row: 1;
    }

    .tier .benefits {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .application {
        grid-column: 3;
        grid-row: 1 / span 2;
    }
    
    .eccf {
        grid-column: 3;  
        grid-row: 1 / span 2;
    }

    .star-rating label {
        grid-column: 3;
    }

    .eccf input[type="submit"] {
        grid-column: 3; 
    }

    .fees {
        grid-column: 1 / span 2;   
        grid-row: 2;
        width: 100%;      
    }

    .fees h2 {
        grid-column: 1 / span 2;
        font-size: 2rem;
        margin-top: 75px;
    }                           
        
}

