@media screen and (min-width: 760px) {
    .navigation {
        display: flex;
    }

    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}

    .navigation.show {
        flex-direction: row; /* Keep stacked layout */
    }

    #menu {
        display: none; /* hide hamburger button */
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1.24fr;
        grid-template-rows: auto auto auto auto;
        gap: 5px;
        margin-left: 2.5%;
    }
    #welcome {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        grid-column: 1 / span 2;
        grid-row: 1;
        max-width: 100%;
    }

    .profile-carousel {
        max-width: 100%;
        width: 100%;
    }
    
    .profile-carousel img {
            min-width: 800px;
    }

    .profile-carousel img:hover {
        transform: scale(1.3);
    } 
    
    #welcome h2, 
    #welcome h3, 
    .cta-button {
        max-width: 600px;
        text-wrap: wrap;
    }

    #podcast {
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-top: 90px;
        margin-bottom: 10px;
    }

    .podcast-player {
        min-height: auto;
        max-width: 100%;
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    
    .podcast-player iframe {
            width: 700px;
            height: 400px; /* Increase height for large screens */
            grid-column: 1 / span 2;
            grid-row: 2;
        }

    #events {
        grid-column: 1 / span 2;
        grid-row: 3/ span 4;
        max-width: 100%;
        margin-top: 90px;
    }

    #events h3 {
        text-align: center;
    }

    .events-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .event-box {
        width: 45%;
    }
    
    #spotlights {
        grid-column: 3;
        grid-row: 1/ span 3;
        max-width: 100%;
        text-wrap: wrap;
    }

    .launchpad, .carbon, .windpower {
        padding: 10px;
        text-wrap: wrap;
    }

    .launchpad h3, .carbon h3, .windpower h3 {
        text-wrap: wrap;
        text-align: center;
    }

    .launchpad h4, .carbon h4, .windpower h4 {
        text-wrap: wrap;
        text-align: center;
    }

    header h1 {
        grid-column: 2 / 3;
        text-align: center;
        font-size: 2.5rem;
        margin-left: 0;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .gallery {
        display: grid;
        grid-column: 2/ span 3;
        grid-row: 1/ span 4;
    }

    .gallery figure {
        width: 700px;
        height: auto;
        margin: 0;
        border: 1px solid #ccc;
        padding: 2rem;
        background: #fff;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        grid-column: 2/ span 3;
        grid-row: 1/ span 4;
    }

    .gallery figure img {
        width: 100%;
        height: auto;
        max-width: 1500;
        border-bottom: 2px solid #ddd;
        margin-bottom: 0.5rem;
        gap: 1rem;
        grid-column: 2/ span 3;
        grid-row: 1/ span 4;
    }

    .gallery figcaption {
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        grid-column: 2/ span 3;
        grid-row: 1/ span 4;
    }

    figure:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }

    #weather {
        grid-column: 3;
        grid-row: 4;
        max-width: 100%;
        margin-top: 30px;
    }

    #weather img {
        max-width: 95%;
        margin: 10px; 
    }
}



