@media screen and (min-width: 36.5em) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 40px;
    }

    header {
        padding: 30px;
    }

    section {
        padding: 25px;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}