@media screen and (min-width: 760px) {
    .navigation {
        display: flex;
    }

    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}

    #menu {
        display: none; /* hide hamburger button */
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 5px;
    }
    #welcome {
        flex-direction: column;
        align-items: center;
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1;
        max-width: 100%;
    }
    
    #welcome img {
        max-width: 95%;
        margin: 10px;
    }
    
    #welcome h2, 
    #welcome h3, 
    .cta-button {
        max-width: 600px;
        text-wrap: wrap;
    }

    #events {
        grid-column: 1 / span 2;
        grid-row: 2;
        max-width: 100%;
    }

    #events h3 {
        text-align: center;
    }

    .events-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .event-box {
        width: 45%;
    }
    
    #weather {
        grid-column: 1 / span 2;
        grid-row: 3;
        max-width: 100%
    }

    #weather img {
        max-width: 95%;
        margin: 10px; 
    }

    #spotlights {
        grid-column: 3;
        grid-row: 1 / span 3;
        max-width: 95%;
        text-wrap: wrap;
    }

    .launchpad, .carbon, .windpower {
        padding: 40px;
        text-wrap: wrap;
    }

    .launchpad h3, .carbon h3, .windpower h3 {
        text-wrap: wrap;
        text-align: center;
    }

    .launchpad h4, .carbon h4, .windpower h4 {
        text-wrap: wrap;
        text-align: center;
    }

    header h1 {
        grid-column: 2 / 4;
        text-align: center;
        font-size: 2.5rem;
        margin-left: 0;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }
}