@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --primary-color:  #5E14CCB4;
    --secondary-color: #5e14cc2f;
    --button: rgb(2, 173, 2);

}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #333;
    font-weight: bold;;
    font-weight: bold;
    background-color: var(--secondary-color);
}
  
header, footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #5E14CCB4;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding: 10px 20px;
}

header img {
    border-radius: 50%;
    margin-right: 10px;
}

#mode {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}

#mode img {
    cursor: pointer;
    transition: transform 0.3s;
}

#mode img:hover {
    transform: scale(1.1);
}

#menu {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    border: 0;
    background: none;
    color: white;
    position: absolute;
}

#menu::before {
    content: "☰";
}

nav {
    max-width: 100%;
    margin: 0 auto;
    background-color: #7706a7;
    padding: 10px 0;
}

.navigation {
    list-style: none;
    padding: 15px 20px;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    margin-left: 4rem;
}

.navigation a.active {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.navigation a:hover {
    color: #3BFF38;
    background-color: navy;
    font-weight: 700;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "❎ ";
}
  
main {
    width: 90%;
    max-width: 1500px;
    margin: 2rem auto;
    padding: 1.2rem;
    background-color:   #5e14cc2a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form, input, button, label {
    transition: all 0.3s ease-in-out;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 1.2rem;
}
  
input, button, select, textarea {
    padding: 0.8rem;
    margin-top: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--primary-color);
    outline: none;
}

input[type=text], 
input[type=range], 
input[type=radio] {
    width: 100%;
}

#alpha:focus, #fruit:focus {
	background-color:  #5e14cc35;
}

#alpha:valid, #fruit:valid {
	background-color:  #5e14cc20;
}
#alpha:invalid, #alpha:invalid {
	background-color:  #5e14cc7c;
	border: 1px solid ;
}
#alpha:invalid::before {
	content: "❌";
    background-color: red;
}
  
button {
    background-color: var(--button);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}
  
button:hover {
    background-color: #003765;
}

footer {
    text-align: center;
    padding: 15px;
    font-weight: 700;
    margin-top: 20px;
}