@media screen and (min-width: 760px) {

    .navigation {
        display: flex;
    }

    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}

    #menu {
        display: none; /* hide hamburger button */
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 1fr;
        gap: 20px;
    }

    h1 {
        grid-column: 1 / 3;
        text-align: center;
        font-size: 2.5rem;
        margin-left: 0;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .card,
    .card1 {
        grid-column: auto;
    }

    .edin-map {
        grid-column: 1 / span 2;
        grid-row: 4;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .map iframe {
        min-height: auto;
        max-width: 100%;
        width: 1500px;
        height: 600px; /* Increase height for large screens */
        grid-column: 1 / span 2;
        grid-row: 4;
    }
}






	
	
	


